*{
    margin: map-get($reset, mrg);
    padding: map-get($reset, mrg);
    list-style-type: map-get($reset, decoTexto);
    text-decoration: map-get($reset, decoTexto);
}

body{
    font-family: $font-prm;
    font-size: $font-uno;
    background-color: $fondo-tres;

    header{
        display: flex;
        justify-content: space-between;
        }
}

main{
    background-color: rgba(71, 61, 139, 0.271);
} 
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }

nav{
    @extend %row;
    grid-template-columns: 1fr 1fr 1fr;
}

article{
    @extend %row;
    grid-template-columns: 2fr 2fr;
}